* {
    margin: 0;
    padding: 0;
    background: transparent; /* background image here */
    box-sizing: border-box;
}

body {
    background-color: #051e29
}

#menus {
    display: none;
    z-index: 1;
    font-size: 100px;
    background-color: rgba(255, 0, 0, 0.189);
}

#mainCanvas {
    z-index: -1;
    border: 5px solid black;
    position: absolute;
    width: 95%;
    height: 95%;
    inset: 50%;
    transform: translate(-50%, -50%);
}

/**
#player1 {
    border: 5px solid blue;
    position: absolute;
    width: 100px;
    height: 10px;
}
**/
